/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9e9e9;
}


.contenedor-principal{
    width: 100%;
	height: 100vh;
}

.contenedor-1{
    height: 100vh;
    background-color: #324E50;
    padding: 3rem;
}

/*Encabezado*/

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0;
    margin-top: 10rem;
}
.container .btn-menu {
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/*Final de menu lateral*/


.titulo-principal{
    width: 20rem;
    color: white;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem;
}

.boton1{
    margin-top: 15rem;

}

button{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 7rem;
    height: 2.5rem;
    padding: 0.1rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    border: 2px solid #00BF8D;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

span{
    background-color: #00BF8D;
    height: 100%;
    width: 0;
    border-radius: 1.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.contenedor-2{
    display: flex;
    height: 100vh;
}

.reciclaje{
    background-color: #2D525E;
    width: 70vw;
    height: 100vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.numero {
    color: #00BF8D;
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
}

.subtitulo{
    font-size: 3rem;
    color: white;
    font-family: 'Nunito', sans-serif;
}

h2{
    position: absolute;
    padding: 4rem;
    font-size: 1.5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.parrafo{
    position: absolute;
    color: white;
    padding: 6rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.contenedor-3{
    background-color: #324E50;
}

.sabiasque{
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.titulo-tarjetas {
    color: #324E50;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.texto{
    text-align: left;
    font-size: 0.7rem;
    color: #324E50;
    font-family: 'Poppins', sans-serif;
}

.tarjetas{
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap: 2.8rem;
}

.tarjeta{
    text-align: center;
    width: 17rem;
    height: 20rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    position: relative;
}


.contenedor-4{
    display: flex;
    height: 100vh;
}

.campana{
    background-color: #2D525E;
    width: 70vw;
    height: 100vh;
    margin-left: 30vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.contenedor-5{
    background-color: #324E50;
}

.emac{
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.footer {
    padding: 2rem;
}

.footer_links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer_link {
    display: inline-block;
    margin: 0 16px;
    font-family: 'Poppins', sans-serif;
}

.footer_link a {
    color: #324E50;
    text-decoration: none;
}

.footer_link a:hover,
.footer_link a:active {
    color: black;
}

/* tablet */

@media screen and (max-width : 500px){
    .boton1{
        margin-top: 5rem;
    }

    .reciclaje{
        width: 500px;
        height: 50vh;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .campana{
        width: 500px;
        height: 50vh;
        border-top-left-radius: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-left: 0;
    }

    .numero,
    .subtitulo{
        font-size: 2.5rem;
    }

    .parrafo{
        font-size: 0.7rem;
        width: 36rem;
        height: 15.5rem;
        overflow-y: hidden;
    }

    .tarjetas{
        display: inline-block;
    }
    
    .tarjeta{
        margin: 2rem;
        width: 17rem;
        height: 10rem;
    }

    .titulo-tarjetas {
        font-size: 1rem;
    }
    
    .texto{
        display: none;
    }
}

@media screen and (max-width : 50rem) {
    .parrafo{
        width: 30rem;
    }

}